# emacs backup/tilde files
*~

build*/
Build*/
build_old/
buildPIV/
src/docs/*
docs/*
data/InputFiles/vineyard_tower_validation/*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# IDE related files
*.vscode
*.idea

# MacOS files
*.DS_Store
